body{
    font-family:'Sriracha','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: 'Spartan', sans-serif;*/
    color:white;
    margin:auto;
    padding: 0;
    width:100%;
    background-image: url(Images/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: teal;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
    height:80px;
    position:fixed;
    z-index:2;
    width:100%;
}
.fas fa-bug{
    size:10px;
}
#navigation{
    display: flex;
    justify-content: space-between;
    padding:40px;
    font-size:16px;
}


.btn{
    margin-left: 50px;
    list-style: none;
    border: 3px solid white;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    color:orangered;
}

#links{
    display: none;
}
#members:hover #links{
    display: block;
    position: absolute;
    top:65px;
    line-height: 70px;
    background-color: rgb(115,194, 251);
    color:white;
    text-align: center;
    margin:0px;
    padding: 0px;
    width:130px;
    border-radius: 7px;
}
#main-descipt{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    color:rgb(6, 51, 51);
    margin-bottom: 50px;
}

#text{
    background-color: white;
    margin-right: 20px;
    opacity: 0.8;
    padding: 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
img{
    width:300px;
    border-radius:10px;
}

#links li{
    list-style: none;
    width: 100%;
    
}
#links li:hover {
    background-color: teal;
}

#main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
    min-height: 80%;
    width:100%;
    background-image: url(/Images/photo.jpeg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    background-repeat: repeat;
}


h1{
    text-align: center;
    font-size: 70px;
    color:white;
    box-shadow: 0 4px 8px 0 white;
    
}
#description{
    width:100%;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 80px;
    position: relative;
}
#social-links{
    display: inline;
    text-align: center;
    position: relative;
    color: honeydew;
    padding: 30px;

}
footer{
    background-color: teal;
    margin-bottom:0px;
    margin-top:100px;
    height:100px;
    font-size: 20px;
    padding-top:0px;
    width:100%;
    
}
a{
    text-decoration: none;
    color:white;
}

/* Roland's profile css**/

#intro{
    display: flex;
    justify-content: flex-start;
    margin-top:10px;
    margin-bottom: 40px;
    padding-left:30px;
}


#image img{
    margin-right:30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#AboutMe{
    width:40%;
    padding-left:50px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#portfolio{
    display:flex;

}

@media screen and (min-width:768px){
    
}
